<footer
	class="w-full bg-gradient-to-r from-fc-green to-fc-dark-green text-base-content px-4 py-10"
>
	<section class="footer max-w-7xl mx-auto">
		<aside>
			{{#link "help_center"}}
				<img src="{{settings.logo}}" alt="Logo" class="w-[150px]" />
			{{/link}}
		</aside>
		<nav
			class="text-fc-dark flex flex-col md:items-end md:justify-end md:place-self-end md:self-center"
		>
			<a
				href="https://www.codapayments.com/legal/terms-of-use-fc-mobile-eg"
				class="link link-hover text-white"
			>
				{{dc "ea_fcm_hc_terms_conditions_text"}}
			</a>
			<a
				href="https://www.codapayments.com/privacy-policy/privacy-policy-fc-mobile-eg"
				class="link link-hover text-white"
			>
				{{dc "ea_fcm_hc_privacy_policy_text"}}
			</a>
		</nav>
	</section>
</footer>