<footer class="w-full bg-gradient-to-r from-fc-green to-fc-dark-green text-base-content px-4 py-10">
  <section class="footer max-w-7xl mx-auto">
    <aside>
      {{#link "help_center"}}
        <img src="{{settings.logo}}" alt="Logo" class="w-[150px]" />
      {{/link}}
    </aside>
    <nav
      class="text-fc-dark flex flex-col md:items-end md:justify-end md:place-self-end md:self-center"
    >
      <a
        href="https://fc-mobile-in-support-codapayments.zendesk.com/hc/en-us/articles/11514654970767-EA-Sports-FC-Mobile-Web-Store-Terms-and-Conditions-of-Sale"
        class="link link-hover text-white"
      >
        Terms and Conditions of Sale
      </a>
      <a
        href="https://fc-mobile-in-support-codapayments.zendesk.com/hc/en-us/articles/11514458569359-EA-Sports-FC-Mobile-Web-Store-Terms-of-Use"
        class="link link-hover text-white"
      >
        Terms of Use
      </a>
      <a
        href="https://fc-mobile-in-support-codapayments.zendesk.com/hc/en-us/articles/11514469258127-Web-Store-Privacy-Notice"
        class="link link-hover text-white"
      >
        Privacy Notice
      </a>
    </nav>
  </section>
</footer>