{{!-- <a class="skip-navigation" tabindex="1" href="#main-content">
	{{t "skip_navigation"}}
</a> --}}

<header class="w-full bg-fc-dark">
	<nav class="navbar w-full md:max-w-7xl mx-auto py-4">
		<div class="navbar-start w-max">
			{{#link "help_center"}}
				<img src="{{settings.logo}}" alt="Logo" class="w-[150px]" />
			{{/link}}
		</div>
	</nav>
</header>